.body{
  padding: 3rem;
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.inputs{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputs input{
  width: 40%;
  height: 35px;
  padding: 12px;
}

.generate{
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
}

.image{
  margin: 0 auto;
  width: 400px;
  height: 300px;
  border: 0.5px solid black;
  position: relative;
}

.image img{
  width: 100%;
  height: 100%;
}

.meme-text{
  position: absolute;
  width: 80%;
  left: 50%;
  font-size: 18px;
  transform: translateX(-50%);
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top-text{
  top: 20px;
}

.bottom-text{
  bottom: 20px !important;
}

@media only screen and (max-width: 517px){
  .image{
    width: 100%;
    height: auto;
  }

  .inputs{
    flex-direction: column;
    gap: 20px;
  }

  .inputs input{
    width: 100%;
  }
}